<h1>Event#index</h1>

<% @event.each do |event| %>
    <h1> title :  <%= event.title %> </h1><br>
      <p> description:  <%= event.description%> </p> <br>
      <%= link_to "voir l'article", event_path(event.id)%>
<%end%>